header{
    text-align: center;
    margin-top: 2cm;
}
h1{
   display: inline;
   border-radius: 8px ;
   
   
}
#tech{
    height: 1cm;
    color: black;
    background-color: orange;
    
}
#hub{
    height: 1cm;
    color: orange;

    
    
}
body{
background-image: url("https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9530.jpg");
background-size: cover;
background-repeat: no-repeat;
    
    
}

  
  h2{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }
  img{
border-radius: 8px;
  }
  button {
    padding: 10px;
    cursor: pointer;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    
  }
  button.access{
    margin-left: -1px;
    margin-top: 0.1cm;
    width: 3.89;

  }
  button.Phones{
    width: 2.49cm;
    margin-top: 2cm;
    margin-left: 657px;
  }
  #cart{
    background-color: #fd1d1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #cart-items {
    list-style: none;
    padding: 0;
  }
  
  #cart-items li {
    margin-bottom: 5px;
  }
  
  #cart-total {
    font-weight: bold;
  }
  
  #shopCart{
    color:white;
    font : bold;
  
  }
  #shopCartItems{
    color:white;
    font:20px bold;
  
  
  
  }
  .product {
    background-color: #fff;
    padding: 10px;
    margin: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
  }
  #nameOfProduct{
    color:red
  }
 

  

